.form{

  // margin-left: -10px;

  .text-muted{
    color: #ccc;
  }

  legend{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 20px;
  }

  fieldset{
    border-bottom: solid 3px #eee;
    margin-bottom: 20px;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select, option,
  textarea{
    padding: 0px 10px;
    display: block;
    width: 100%;
    background: #fff;
    border: solid 1px #ccc;
    font-size: 1em;
    border-radius: 4px;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select, option{
    height: 34px!important;
    line-height: 34px!important;
  }

  input[type=file]{
    display: block;
  }

  textarea{
    height: 150px;
  }

  .row{
    margin-bottom: 20px;
  }

  &.float{
    .row{
      float: left;
      width: 50%;
      .form-group{
        margin: 0px 10px;
      }
    }
  }

}

.primary,
.button{
  display: inline-block;
  background: #006532;
  color: #fff;
  border: 0px;
  padding: 10px 20px;
  font-family: arial;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  &:hover{
    background: #95c11e;
  }
}


@media (max-width: $MD) {
  .frm{
    &.float{
      .row{
        float: none;
        width: auto;
      }
    }
  }
}
