input,
select,
button,
textarea,
option,
html{
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.75;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  color: #222;

  background: #f5f5f5;

}


body{
  header{
    position: relative;
    background: #fff url(../images/logo.png) no-repeat 20px;
    background-size: 58px;
    h1{
      padding-left: 84px;
      font-size: 1.4em;
      // font-weight: bold;
      // text-transform: uppercase;
      font-family: "Sigmar One";
      color: #006532;
    }
    *{
      line-height: 80px;
      height: 80px;
    }
    nav{
      position: absolute;
      right: 0px;
      top: 0px;
      ul{
        li{
          float: left;
          a{
            display: block;
            padding: 0px 20px;
            &.selected{

            }
          }
        }
      }
    }
  }
  .aside{
    position: absolute;
    width: 320px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    padding-top: 80px;
  }
  .main-map{
    position: absolute;
    left: 320px;
    bottom: 0px;
    right: 0px;
    top: 80px;
  }
  [role=main]{
    padding: 20px;
  }
}

h1{
  font-size: 1.8em;
  //letter-spacing: -1px;
  padding-bottom: 20px;
}

*{
  box-sizing: border-box;
}


.row{
  clear: both;
}

.radio{
  background: #fff;
  height: 100px;
  width: 100px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.selected{
    background-color: #95c11e;
  }
  &.fox{
    background-image: url(../images/icons/fox.png);
  }
  &.squirrel{
    background-image: url(../images/icons/squirrel.png);
  }
  &.croc{
    background-image: url(../images/icons/croc.png);
  }
  &.swan{
    background-image: url(../images/icons/swan.png);
  }
  &.paw{
    background-image: url(../images/icons/paw.png);
  }
  &.butterfly{
    background-image: url(../images/icons/butterfly.png);
  }
  &.frog{
    background-image: url(../images/icons/frog.png);
  }
}

a{
  color: #95c11e;
  &:hover{
    text-decoration: none;
  }
}
strong{
  font-weight: bold;
}
em{
  font-style: italic;
}
.submit-a-sighting-cta{
  margin-top: 20px;
  display: none;
}
