.main-map{
	&--image{
		max-width: 100%;
		max-height:100%;
	}
	.tabs-ui{
  		position:relative;
  		min-height:200px;
		width:240px;    
		clear:both;
		margin:25px 0;
	}
	.tab{
		float:left;
		label{
			background:#eee;
			padding:10px;
			border:1px solid #ccc;
			margin-left:-1px;
			position:relative;
			left:1px;
			top:1px;
			cursor:pointer;
			&:hover{
				background:#f8f8f8;
			}
		}
		[type=radio]{
			display:none;
			&:checked ~ label{
				background:white;
  				border-bottom:1px solid white;
  				z-index:2;
  				~ .content{
  					z-index:1;	
  				}
			}
		}
		.content{
			  background:white;
			  position:absolute;
			  top:28px;
			  left:0;
			  right:0;
			  bottom:0;
			  padding:10px;
			  border:1px solid #ccc;
			  overflow: hidden;
		}
	}
}