@charset "UTF-8";
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_globals.scss */
input,
select,
button,
textarea,
option,
html {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.75;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #222;
  background: #f5f5f5;
}

/* line 33, ../scss/_globals.scss */
body header {
  position: relative;
  background: #fff url(../images/logo.png) no-repeat 20px;
  background-size: 58px;
}
/* line 37, ../scss/_globals.scss */
body header h1 {
  padding-left: 84px;
  font-size: 1.4em;
  font-family: "Sigmar One";
  color: #006532;
}
/* line 45, ../scss/_globals.scss */
body header * {
  line-height: 80px;
  height: 80px;
}
/* line 49, ../scss/_globals.scss */
body header nav {
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 54, ../scss/_globals.scss */
body header nav ul li {
  float: left;
}
/* line 56, ../scss/_globals.scss */
body header nav ul li a {
  display: block;
  padding: 0px 20px;
}
/* line 67, ../scss/_globals.scss */
body .aside {
  position: absolute;
  width: 320px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  padding-top: 80px;
}
/* line 76, ../scss/_globals.scss */
body .main-map {
  position: absolute;
  left: 320px;
  bottom: 0px;
  right: 0px;
  top: 80px;
}
/* line 83, ../scss/_globals.scss */
body [role=main] {
  padding: 20px;
}

/* line 88, ../scss/_globals.scss */
h1 {
  font-size: 1.8em;
  padding-bottom: 20px;
}

/* line 94, ../scss/_globals.scss */
* {
  box-sizing: border-box;
}

/* line 99, ../scss/_globals.scss */
.row {
  clear: both;
}

/* line 103, ../scss/_globals.scss */
.radio {
  background: #fff;
  height: 100px;
  width: 100px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 117, ../scss/_globals.scss */
.radio.selected {
  background-color: #95c11e;
}
/* line 120, ../scss/_globals.scss */
.radio.fox {
  background-image: url(../images/icons/fox.png);
}
/* line 123, ../scss/_globals.scss */
.radio.squirrel {
  background-image: url(../images/icons/squirrel.png);
}
/* line 126, ../scss/_globals.scss */
.radio.croc {
  background-image: url(../images/icons/croc.png);
}
/* line 129, ../scss/_globals.scss */
.radio.swan {
  background-image: url(../images/icons/swan.png);
}
/* line 132, ../scss/_globals.scss */
.radio.paw {
  background-image: url(../images/icons/paw.png);
}
/* line 135, ../scss/_globals.scss */
.radio.butterfly {
  background-image: url(../images/icons/butterfly.png);
}
/* line 138, ../scss/_globals.scss */
.radio.frog {
  background-image: url(../images/icons/frog.png);
}

/* line 143, ../scss/_globals.scss */
a {
  color: #95c11e;
}
/* line 145, ../scss/_globals.scss */
a:hover {
  text-decoration: none;
}

/* line 149, ../scss/_globals.scss */
strong {
  font-weight: bold;
}

/* line 152, ../scss/_globals.scss */
em {
  font-style: italic;
}

/* line 155, ../scss/_globals.scss */
.submit-a-sighting-cta {
  margin-top: 20px;
  display: none;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 3, ../scss/_skeleton.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 10, ../scss/_skeleton.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  /* line 18, ../scss/_skeleton.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  /* line 25, ../scss/_skeleton.scss */
  .container {
    width: 80%;
  }

  /* line 27, ../scss/_skeleton.scss */
  .column,
  .columns {
    margin-left: 4%;
  }

  /* line 30, ../scss/_skeleton.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 34, ../scss/_skeleton.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 36, ../scss/_skeleton.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 37, ../scss/_skeleton.scss */
  .three.columns {
    width: 22%;
  }

  /* line 38, ../scss/_skeleton.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 39, ../scss/_skeleton.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 40, ../scss/_skeleton.scss */
  .six.columns {
    width: 48%;
  }

  /* line 41, ../scss/_skeleton.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 42, ../scss/_skeleton.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 43, ../scss/_skeleton.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 44, ../scss/_skeleton.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 45, ../scss/_skeleton.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 46, ../scss/_skeleton.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 48, ../scss/_skeleton.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 49, ../scss/_skeleton.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 51, ../scss/_skeleton.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 54, ../scss/_skeleton.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 56, ../scss/_skeleton.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 58, ../scss/_skeleton.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 60, ../scss/_skeleton.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 62, ../scss/_skeleton.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 64, ../scss/_skeleton.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 66, ../scss/_skeleton.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 68, ../scss/_skeleton.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 70, ../scss/_skeleton.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 72, ../scss/_skeleton.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 74, ../scss/_skeleton.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 77, ../scss/_skeleton.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 79, ../scss/_skeleton.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 82, ../scss/_skeleton.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* line 5, ../scss/_form.scss */
.form .text-muted {
  color: #ccc;
}
/* line 9, ../scss/_form.scss */
.form legend {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
}
/* line 16, ../scss/_form.scss */
.form fieldset {
  border-bottom: solid 3px #eee;
  margin-bottom: 20px;
}
/* line 21, ../scss/_form.scss */
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form select, .form option,
.form textarea {
  padding: 0px 10px;
  display: block;
  width: 100%;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 1em;
  border-radius: 4px;
}
/* line 35, ../scss/_form.scss */
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form select, .form option {
  height: 34px !important;
  line-height: 34px !important;
}
/* line 43, ../scss/_form.scss */
.form input[type=file] {
  display: block;
}
/* line 47, ../scss/_form.scss */
.form textarea {
  height: 150px;
}
/* line 51, ../scss/_form.scss */
.form .row {
  margin-bottom: 20px;
}
/* line 56, ../scss/_form.scss */
.form.float .row {
  float: left;
  width: 50%;
}
/* line 59, ../scss/_form.scss */
.form.float .row .form-group {
  margin: 0px 10px;
}

/* line 67, ../scss/_form.scss */
.primary,
.button {
  display: inline-block;
  background: #006532;
  color: #fff;
  border: 0px;
  padding: 10px 20px;
  font-family: arial;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
/* line 79, ../scss/_form.scss */
.primary:hover,
.button:hover {
  background: #95c11e;
}

@media (max-width: 768px) {
  /* line 88, ../scss/_form.scss */
  .frm.float .row {
    float: none;
    width: auto;
  }
}
/* line 2, ../scss/_map.scss */
.main-map--image {
  max-width: 100%;
  max-height: 100%;
}
/* line 6, ../scss/_map.scss */
.main-map .tabs-ui {
  position: relative;
  min-height: 200px;
  width: 240px;
  clear: both;
  margin: 25px 0;
}
/* line 13, ../scss/_map.scss */
.main-map .tab {
  float: left;
}
/* line 15, ../scss/_map.scss */
.main-map .tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  top: 1px;
  cursor: pointer;
}
/* line 24, ../scss/_map.scss */
.main-map .tab label:hover {
  background: #f8f8f8;
}
/* line 28, ../scss/_map.scss */
.main-map .tab [type=radio] {
  display: none;
}
/* line 30, ../scss/_map.scss */
.main-map .tab [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
/* line 34, ../scss/_map.scss */
.main-map .tab [type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/* line 39, ../scss/_map.scss */
.main-map .tab .content {
  background: white;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}
